{% load static %}
<div class="flex flex-col bg-[#3f0703] relative z-50 px-7 mx-auto md:items-center md:justify-between md:flex-row lg:px-5 lg:pr-8 w-full">
  <div class="flex-row justify-between flex items-center bg-yellow-2 p-3 flex-wrap w-1/2">
    <a
      href="{% url 'home' %}"
      onmouseover="prefetchPage('{% url 'home' %}')"
      class="p-2 -ml-5 md:-ml-0 md:mr-4 inline-flex items-center">
      <img
        class="w-[55px] h-[54px] rounded-[172px]"
        src="{% static 'img/logo.jpg' %}" />
      <span class="2xl:block hidden mx-2 text-center text-white text-xl font-normal font-['Bahnschrift']">Guardians of the Palawan Pangolin Guild</span>
    </a>
    <button
      data-collapse-toggle="NavBar_menu_home"
      aria-controls="NavBar_menu_home"
      aria-expanded="false"
      type="button"
      class="absolute md:hidden right-20 size-7 flex justify-center items-center gap-x-2 rounded-lg">
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-3.5 h-3.5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14">
        <path
          fill="white"
          stroke="white"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="3"
          d="M1 1h15M1 7h15M1 13h15" />
      </svg>
    </button>
  </div>
  <div class="overflow-hidden transition-all md:bg-opacity-0 justify-end duration-300 basis-full sm:block flex-col flex-grow md:w-1/2">
    <div
      id="NavBar_menu_home"
      class="flex-col flex-grow md:pb-0 hidden text-center rounded-lg md:bg-transparent md:flex md:justify-end md:flex-row xl:gap-5">
      <div class="w-full md:w-auto px-3 py-2 mx-2 animate-border">
        <a
          class="font-medium focus:outline-none font-['Roboto'] text-white"
          href="{% url 'home' %}"
          aria-current="page"
          >Home</a
        >
      </div>
      <div class="w-full md:w-auto px-3 py-2 mx-2 animate-border">
        <a
          class="font-medium focus:outline-none font-['Roboto'] text-white"
          href="{% url 'trend' %}"
          aria-current="page"
          >Trend</a
        >
      </div>
      <div class="w-full md:w-auto px-3 py-2 mx-2 animate-border">
        <a
          class="font-medium focus:outline-none font-['Roboto'] text-white"
          href="{% url 'maps' %}"
          aria-current="page"
          >Map</a
        >
      </div>
      <div class="w-full md:w-auto px-3 py-2 mx-2 animate-border">
        <a
          class="font-medium focus:outline-none font-['Roboto'] text-white"
          href="{% url 'activities' %}"
          aria-current="page"
          >Activities</a
        >
      </div>
      <div class="w-full md:w-auto px-3 py-2 mx-2 animate-border">
        <a
          class="font-medium focus:outline-none font-['Roboto'] text-white"
          href="{% url 'gallery' %}"
          aria-current="page"
          >Gallery</a
        >
      </div>
      <div class="hs-dropdown [--strategy:static] sm:[--strategy:fixed] [--adaptive:none]">
        <button
          id="hs-navbar-example-dropdown"
          type="button"
          class="hs-dropdown-toggle flex md:w-max items-center w-full font-medium justify-center focus:outline-none px-3 py-2 mx-3 font-['Roboto'] text-white animate-border"
          aria-haspopup="menu"
          aria-expanded="false"
          aria-label="Mega Menu">
          About
          <svg
            class="hs-dropdown-open:-rotate-180 sm:hs-dropdown-open:rotate-0 duration-300 ms-1 shrink-0 size-4"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path d="m6 9 6 6 6-6" />
          </svg>
        </button>

        <div
          class="hs-dropdown-menu transition-[opacity,margin] ease-in-out duration-300 hs-dropdown-open:opacity-100 opacity-0 sm:w-48 z-10 bg-white sm:shadow-md rounded-lg p-1 space-y-1 sm:dark:border before:absolute top-full sm:border before:-top-5 before:start-0 before:w-full before:h-5 hidden"
          role="menu"
          aria-orientation="vertical"
          aria-labelledby="hs-navbar-example-dropdown">
          <a
            class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-black hover:bg-gray-100 focus:outline-none focus:bg-gray-100 dark:text-black dark:hover:bg-neutral-200 dark:hover:text-black"
            href="{% url 'officers' %}">
            Officers
          </a>

          <a
            class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-black hover:bg-gray-100 focus:outline-none focus:bg-gray-100 dark:text-black dark:hover:bg-neutral-200 dark:hover:text-black"
            href="{% url 'about' %}">
            About Us
          </a>
        </div>
      </div>
    </div>
  </div>

  <div
    class="hs-dropdown [--strategy:fixed] overflow-hidden border bg-[#3f0703] rounded-full md:mx-2 absolute w-10 md:w-16 right-5 top-6 md:top-0 md:right-0 md:relative"
    data-hs-dropdown>
    <button
      id="hs-navbar-example-dropdown"
      type="button"
      class="hs-dropdown-toggle justify-center flex items-center w-full font-medium py-2"
      aria-haspopup="menu"
      aria-expanded="false"
      aria-label="Mega Menu">
      <span class="font-medium text-white uppercase">{{ initials }}</span>
    </button>
    <div
      class="hs-dropdown-menu border-0 z-50 text-white transition-all duration-200 ease-in-out transform opacity-0 translate-y-4 scale-95 pointer-events-none hs-dropdown-open:opacity-100 hs-dropdown-open:translate-y-0 hs-dropdown-open:scale-100 hs-dropdown-open:pointer-events-auto closing:translate-y--4 closing:opacity-0 closing:scale-95 w-48 bg-black bg-opacity-20 backdrop-blur-lg sm:shadow-md rounded-lg p-1 space-y-1 dark:bg-neutral-800 sm:dark:border dark:border-neutral-700 dark:divide-neutral-700 before:absolute top-full sm:border before:-top-5 before:start-0 before:w-full before:h-5 hidden"
      role="menu"
      aria-orientation="vertical"
      aria-labelledby="hs-navbar-example-dropdown">
      <div class="w-full h-fit py-2">
        <div class="bg-[#3f0703] rounded-full h-14 w-14 flex mx-auto justify-center items-center"><span class="font-medium text-white uppercase">{{ initials }}</span></div>
        <p class="mt-2 text-center capitalize">{{ name }}</p>
      </div>
      <hr class="w-20 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700" />
      <a
        href="{% url 'account_view' %}"
        onmouseover="prefetchPage('{% url 'account_view' %}')"
        class="flex items-center gap-x-3.5 py-2 px-3 text-sm focus:outline-none hover:bg-gray-100 hover:text-black rounded-md transition-all duration-200">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          class="w-4 h-4"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round">
          <path
            stroke="none"
            d="M0 0h24v24H0z"
            fill="none"></path>
          <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
          <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
        </svg>
        <span>Account Settings</span>
      </a>
      <a
        href="{% url 'account_view' %}"
        class="flex items-center gap-x-3.5 py-2 px-3 text-sm focus:outline-none hover:bg-gray-100 hover:text-black rounded-md">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-4 h-4"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round">
          <path d="M9 5H7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2V7a2 2 0 0 0 -2 -2h-2"></path>
          <path d="M9 5a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"></path>
          <path d="M9 12h6"></path>
          <path d="M9 16h6"></path>
        </svg>
        <span>Submit Report</span>
      </a>
      <a
        href="{% url 'logout' %}"
        class="flex items-center w-full gap-x-3.5 py-2 px-3 text-sm focus:outline-none hover:bg-gray-100 hover:text-black rounded-md transition-all duration-200">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          class="w-4 h-4"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round">
          <path
            stroke="none"
            d="M0 0h24v24H0z"
            fill="none"></path>
          <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"></path>
          <path d="M9 12h12l-3 -3"></path>
          <path d="M18 15l3 -3"></path>
        </svg>
        <span>Logout</span>
      </a>
    </div>
  </div>
</div>
