{% load static %}

<div
  id="adduser"
  class="modal-content">
  <form
    hx-post="{% url 'private_userAccounts_edit' user.id %}"
    hx-target="#modal-content"
    enctype="multipart/form-data"
    novalidate>
    {% csrf_token %}
    <div class="grid grid-cols-2 gap-4">
      <div>
        <div class="text-red-600">{{ form.user_firstname.errors }}</div>
        <label class="block text-sm font-medium text-gray-700"> {{ form.user_firstname.label_tag }} {% if form.user_firstname.errors %} {% endif %} </label>
        {{ form.user_firstname }}
      </div>
      <div>
        <div class="text-red-600">{{ form.user_lastname.errors }}</div>
        <label class="block text-sm font-medium text-gray-700"> {{ form.user_lastname.label_tag }} {% if form.user_lastname.errors %} {% endif %} </label>
        {{ form.user_lastname }}
      </div>

      <div>
        <div class="text-red-600">{{ form.user_email.errors }}</div>
        <label class="block text-sm font-medium text-gray-700"> {{ form.user_email.label_tag }} {% if form.user_email.errors %} {% endif %} </label>
        {{ form.user_email }}
      </div>
      <div>
        <div class="text-red-600">{{ form.contact.errors }}</div>
        <label class="block text-sm font-medium text-gray-700"> {{ form.contact.label_tag }} {% if form.contact.errors %} {% endif %} </label>
        {{ form.contact }}
      </div>
    </div>
    <br />
    <div>
      <div class="text-red-600">{{ form.password.errors }}</div>
      <label class="block text-sm font-medium text-gray-700"> {{ form.password.label_tag }} {% if form.password.errors %} {% endif %} </label>
      {{ form.password }}
    </div>

    <br />
    <button
      type="submit"
      class="mr-2 inline-flex items-center font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-black hover:bg-white text-white hover:text-black ring-1 ring-black transition-all duration-300 hover:shadow-md">
      Save Changes</button
    ><button
      type="button"
      onclick="window.location.reload();"
      class="text-center items-center cursor-pointer text-sm font-semibold p-2.5 px-5 rounded-lg ring-1 ring-red-600 text-red-600 hover:bg-red-50 transition-all duration-300 hover:shadow-md">
      Discard changes
    </button>
  </form>
</div>
