{% load static %}

<div id="editgallery" class="modal-content"> 
  <form
    hx-post="{% url 'admin_gallery_edit' gallery.id %}"
    hx-target="#modal-content"
    enctype="multipart/form-data"
    novalidate>
    {% csrf_token %} 
    
      <div>
          <label class="block text-sm font-medium text-gray-700">
              {{ form.uploader.label_tag }}
              {% if form.uploader.errors %}
                  <div class="text-red-600">{{ form.uploader.errors }}</div>
                {% endif %}
          </label>
          {{ form.uploader }}
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700">
            {{ form.media.label_tag }}
            {% if form.media.errors %}
                  <div class="text-red-600">{{ form.media.errors }}</div>
                {% endif %}
        </label>
        {{ form.media }}
    </div>
 <br>
    <button
          type="submit"
          class="text-black mr-2 inline-flex items-center border font-medium rounded-lg text-sm px-5 py-2.5 text-center">
          Save Changes
        </button
        ><button
          type="button"
          onclick="window.location.reload();"
          class="text-red-700 inline-flex items-center hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">
          Discard changes
      </button>
  
    
  </form>
</div>
