{% load static %}

<div
  id="adduser"
  class="modal-content">
  <form
    hx-post="{% url 'admin_profile_update' %}"
    hx-target="#modal-content"
    enctype="multipart/form-data"
    novalidate>
    {% csrf_token %}
    <div class="grid grid-cols-2 gap-4">
      <div>
        <label class="block text-sm font-medium text-gray-700">
          {{ form.username.label_tag }} {% if form.username.errors %}
          <div class="text-red-600">{{ form.username.errors }}</div>
          {% endif %}
        </label>
        {{ form.username }}
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700">
          {{ form.email.label_tag }} {% if form.email.errors %}
          <div class="text-red-600">{{ form.email.errors }}</div>
          {% endif %}
        </label>
        {{ form.email }}
      </div>


      <div>
        <label class="block text-sm font-medium text-gray-700">
          {{ form.first_name.label_tag }} {% if form.first_name.errors %}
          <div class="text-red-600">{{ form.first_name.errors }}</div>
          {% endif %}
        </label>
        {{ form.first_name }}
      </div>
      <div>
        <label class="block text-sm font-medium text-gray-700">
          {{ form.last_name.label_tag }} {% if form.last_name.errors %}
          <div class="text-red-600">{{ form.lastname.errors }}</div>
          {% endif %}
        </label>
        {{ form.last_name }}
      </div>

    </div>
    <br />


    <br />
    <div class="flex justify-end">
      <button
        type="submit"
        class="py-2 px-5 mr-2 inline-flex items-center gap-x-2 text-sm rounded-lg border bg-black text-black shadow-sm transition-all duration-300 hover:shadow-md">
        Save Changes</button
      ><button
        type="button"
        onclick="window.location.reload();"
        class="text-center items-center border cursor-pointer text-sm font-semibold p-2 px-5 rounded-lg border-red-600 text-red-600 hover:bg-red-50 transition-all duration-300 hover:shadow-md">
        Discard changes
      </button>
    </div>
  </form>
</div>
