{% load static %}

<div
  id="editincident"
  class="modal-content">
  <form
    hx-post="{% url 'admin_incident_edit' incident.id %}"
    hx-target="#modal-content"
    novalidate>
    {% csrf_token %}
    <div class="grid grid-cols-2 gap-4">
      <div>
        <label class="block text-sm font-medium text-gray-700">
          {{ form.municity.label_tag }} {% if form.municity.errors %}
          <div class="text-red-600">{{ form.municity.errors }}</div>
          {% endif %}
        </label>
        {{ form.municity }}
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700">
          {{ form.status.label_tag }} {% if form.status.errors %}
          <div class="text-red-600">{{ form.status.errors }}</div>
          {% endif %}
        </label>
        {{ form.status }}
      </div>

      <div>
        <label class="block text-sm font-medium text-gray-700">
          {{ form.date_reported.label_tag }} {% if form.date_reported.errors %}
          <div class="text-red-600">{{ form.date_reported.errors }}</div>
          {% endif %}
        </label>
        {{ form.date_reported }}
      </div>
    </div>

    <div>
      <label class="block text-sm font-medium text-gray-700">
        {{ form.description.label_tag }} {% if form.description.errors %}
        <div class="text-red-600">{{ form.description.errors }}</div>
        {% endif %}
      </label>
      {{ form.description }}
    </div>

    <br />
    <div class="flex justify-end">
      <button
        type="submit"
        class="py-2 px-5 mr-2 inline-flex items-center gap-x-2 text-sm rounded-lg border bg-green-800 hover:bg-green-900 text-white shadow-sm transition-all duration-300 hover:shadow-md">
        Save Changes</button
      ><button
        type="button"
        onclick="window.location.reload();"
        class="text-center items-center border cursor-pointer text-sm font-semibold p-2 px-5 rounded-lg border-red-600 text-red-600 hover:bg-red-50 transition-all duration-300 hover:shadow-md">
        Discard changes
      </button>
    </div>
  </form>
</div>
