{% extends 'admin/admin.html'%} {% load static %} {% block title %}Database{% endblock title %}

<!-- Database menu highlight -->
{% block aside%}
<ul class="space-y-2 font-medium">
  <li>
    <a
      href="{% url 'admin_home' %}"
      class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
      <svg
        class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 22 21">
        <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z" />
        <path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z" />
      </svg>
      <span class="ms-3">Dashboard</span>
    </a>
  </li>
  <li>
    <a
      href="{% url 'admin_map' %}"
      class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
      <svg
        class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 22 21">
        <path
          fill-rule="evenodd"
          d="M11.906 1.994a8.002 8.002 0 0 1 8.09 8.421 7.996 7.996 0 0 1-1.297 3.957.996.996 0 0 1-.133.204l-.108.129c-.178.243-.37.477-.573.699l-5.112 6.224a1 1 0 0 1-1.545 0L5.982 15.26l-.002-.002a18.146 18.146 0 0 1-.309-.38l-.133-.163a.999.999 0 0 1-.13-.202 7.995 7.995 0 0 1 6.498-12.518ZM15 9.997a3 3 0 1 1-5.999 0 3 3 0 0 1 5.999 0Z"
          clip-rule="evenodd" />
      </svg>
      <span class="flex-1 ms-3 whitespace-nowrap">Map</span>
    </a>
  </li>
  <li>
    <a
      href="{% url 'admin_report' %}"
      class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
      <svg
        class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 20 20">
        <path
          d="m17.418 3.623-.018-.008a6.713 6.713 0 0 0-2.4-.569V2h1a1 1 0 1 0 0-2h-2a1 1 0 0 0-1 1v2H9.89A6.977 6.977 0 0 1 12 8v5h-2V8A5 5 0 1 0 0 8v6a1 1 0 0 0 1 1h8v4a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-4h6a1 1 0 0 0 1-1V8a5 5 0 0 0-2.582-4.377ZM6 12H4a1 1 0 0 1 0-2h2a1 1 0 0 1 0 2Z" />
      </svg>
      <span class="flex-1 ms-3 whitespace-nowrap">Report</span>
      <span class="inline-flex items-center justify-center w-3 h-3 p-3 ms-3 text-sm font-medium text-blue-800 bg-blue-100 rounded-full dark:bg-blue-900 dark:text-blue-300">3</span>
    </a>
  </li>
  <li>
    <a
      href="{% url 'admin_charts' %}"
      class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
      <svg
        class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 22 21">
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 4v15a1 1 0 0 0 1 1h15M8 16l2.5-5.5 3 3L17.273 7 20 9.667" />
      </svg>

      <span class="flex-1 ms-3 whitespace-nowrap">Charts</span>
    </a>
  </li>
  <li>
    <button
      type="button"
      class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
      aria-controls="dropdown-example"
      data-collapse-toggle="dropdown-example">
      <svg
        class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 22 21">
        <path
          d="M12 7.205c4.418 0 8-1.165 8-2.602C20 3.165 16.418 2 12 2S4 3.165 4 4.603c0 1.437 3.582 2.602 8 2.602ZM12 22c4.963 0 8-1.686 8-2.603v-4.404c-.052.032-.112.06-.165.09a7.75 7.75 0 0 1-.745.387c-.193.088-.394.173-.6.253-.063.024-.124.05-.189.073a18.934 18.934 0 0 1-6.3.998c-2.135.027-4.26-.31-6.3-.998-.065-.024-.126-.05-.189-.073a10.143 10.143 0 0 1-.852-.373 7.75 7.75 0 0 1-.493-.267c-.053-.03-.113-.058-.165-.09v4.404C4 20.315 7.037 22 12 22Zm7.09-13.928a9.91 9.91 0 0 1-.6.253c-.063.025-.124.05-.189.074a18.935 18.935 0 0 1-6.3.998c-2.135.027-4.26-.31-6.3-.998-.065-.024-.126-.05-.189-.074a10.163 10.163 0 0 1-.852-.372 7.816 7.816 0 0 1-.493-.268c-.055-.03-.115-.058-.167-.09V12c0 .917 3.037 2.603 8 2.603s8-1.686 8-2.603V7.596c-.052.031-.112.059-.165.09a7.816 7.816 0 0 1-.745.386Z" />
      </svg>
      <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap">Database</span>
      <svg
        class="w-3 h-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 10 6">
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 1 4 4 4-4" />
      </svg>
    </button>
    <ul
      id="dropdown-example"
      class="hidden py-2 space-y-2">
      <li>
        <a
          href="{% url 'admin_activities_database' %}"
          class="flex items-center w-full p-2 transition duration-75 pl-11 text-white rounded-lg dark:text-white bg-greenbutton group"
          >Activities</a
        >
      </li>
      <li>
        <a
          href="{% url 'admin_gallery_database' %}"
          class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
          >Gallery</a
        >
      </li>
      <li>
        <a
          href="{% url 'admin_officers_database' %}"
          class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
          >Officers</a
        >
      </li>
      <li>
        <a
          href="{% url 'admin_incident_database' %}"
          class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
          >Incident</a
        >
      </li>
      <li>
        <a
          href="{% url 'admin_userAccounts_database' %}"
          class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700"
          >User Accounts</a
        >
      </li>
    </ul>
  </li>
  <li>
    <a
      href="{% url 'admin_officers' %}"
      class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
      <svg
        class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 22 21">
        <path
          fill-rule="evenodd"
          d="M12 6a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7Zm-1.5 8a4 4 0 0 0-4 4 2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 4 4 0 0 0-4-4h-3Zm6.82-3.096a5.51 5.51 0 0 0-2.797-6.293 3.5 3.5 0 1 1 2.796 6.292ZM19.5 18h.5a2 2 0 0 0 2-2 4 4 0 0 0-4-4h-1.1a5.503 5.503 0 0 1-.471.762A5.998 5.998 0 0 1 19.5 18ZM4 7.5a3.5 3.5 0 0 1 5.477-2.889 5.5 5.5 0 0 0-2.796 6.293A3.501 3.501 0 0 1 4 7.5ZM7.1 12H6a4 4 0 0 0-4 4 2 2 0 0 0 2 2h.5a5.998 5.998 0 0 1 3.071-5.238A5.505 5.505 0 0 1 7.1 12Z"
          clip-rule="evenodd" />
      </svg>
      <span class="flex-1 ms-3 whitespace-nowrap">Officers</span>
    </a>
  </li>
</ul>
{% endblock aside %}

<!-- Database Content -->
{% block title_content %} Activities List {% endblock title_content %} {% block content %}

<div class="flex flex-col w-full h-auto mx-auto gap-2">
  <div
    class="p-4 rounded-xl overflow-hidden bg-white h-[865px] shadow-sm"
    data-hs-datatable='{
    "pageLength": 12,
    "pagingOptions": {
      "pageBtnClasses": "min-w-[40px] flex justify-center items-center text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 py-2.5 text-sm rounded-full disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:focus:bg-neutral-700 dark:hover:bg-neutral-700"
    },
    "selecting": true,
    "rowSelectingOptions": {
      "selectAllSelector": "#hs-table-search-checkbox-all"
    },
    "language": {
      "zeroRecords": "<div class=\"py-10 px-5 flex flex-col justify-center items-center text-center\"><svg class=\"shrink-0 size-6 text-gray-500 dark:text-neutral-500\" xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><circle cx=\"11\" cy=\"11\" r=\"8\"/><path d=\"m21 21-4.3-4.3\"/></svg><div class=\"max-w-sm mx-auto\"><p class=\"mt-2 text-sm text-gray-600 dark:text-neutral-400\">No search results</p></div></div>"
    }
  }'>
    <!-- Search and Add Button Section -->
    <div class="flex items-center space-x-2 mb-4">
      <div class="flex-0">
        <div class="relative max-w-xs">
          <label
            for="hs-table-export-search"
            class="sr-only"
            >Search</label
          >
          <input
            type="text"
            name="hs-table-export-search"
            id="hs-table-export-search"
            class="py-2 px-8 ps-9 block w-full border-gray-200 transition-all duration-200 ease-in-out shadow-sm rounded-lg text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
            placeholder="Search for items"
            data-hs-datatable-search="" />
          <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-3">
            <svg
              class="size-4 text-gray-400 dark:text-neutral-500"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round">
              <circle
                cx="11"
                cy="11"
                r="8"></circle>
              <path d="m21 21-4.3-4.3"></path>
            </svg>
          </div>
        </div>
      </div>

      <div class="flex-1 flex items-center justify-end space-x-2">
        <div class="relative inline-flex">
          <button
            hx-get="{% url 'admin_activities_add' %}"
            hx-target="#modal-content"
            hx-trigger="click"
            data-modal-toggle="modaldialog"
            data-modal-target="modaldialog"
            onclick="showTitle('Add Organization Activity');"
            type="button"
            class="py-2 px-5 inline-flex items-center gap-x-2 text-sm rounded-lg border bg-green-800 hover:bg-green-900 text-white shadow-sm transition-all duration-300 hover:shadow-md">
            Add
          </button>
        </div>
      </div>
    </div>

    <!-- Table Section -->
    <div class="min-h-[695px] overflow-x-auto">
      <div class="min-w-full inline-block align-middle">
        <div class="overflow-hidden rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <!-- Table Header -->
            <thead class="border-b bg-gray-50 border-gray-200 dark:border-neutral-700">
              <tr>
                <th
                  scope="col"
                  class="py-1 group text-start font-semibold focus:outline-none">
                  <div
                    class="py-1 px-2.5 inline-flex font-bold items-center border border-transparent text-sm text-black rounded-md hover:border-gray-200 dark:text-neutral-500 dark:hover:border-neutral-700">
                    Name of Activity
                    <svg
                      class="size-3.5 ms-1 -me-0.5 text-gray-400 dark:text-neutral-500"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round">
                      <path
                        class="hs-datatable-ordering-asc:text-blue-600 dark:hs-datatable-ordering-asc:text-blue-500"
                        d="m7 15 5 5 5-5"></path>
                      <path
                        class="hs-datatable-ordering-desc:text-blue-600 dark:hs-datatable-ordering-desc:text-blue-500"
                        d="m7 9 5-5 5 5"></path>
                    </svg>
                  </div>
                </th>
                <th
                  scope="col"
                  class="py-1 group text-start font-semibold focus:outline-none">
                  <div
                    class="py-1 px-2.5 inline-flex items-center border border-transparent text-sm text-black font-bold rounded-md hover:border-gray-200 dark:text-neutral-500 dark:hover:border-neutral-700">
                    Photo
                    <svg
                      class="size-3.5 ms-1 -me-0.5 text-gray-400 dark:text-neutral-500"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round">
                      <path
                        class="hs-datatable-ordering-asc:text-blue-600 dark:hs-datatable-ordering-asc:text-blue-500"
                        d="m7 15 5 5 5-5"></path>
                      <path
                        class="hs-datatable-ordering-desc:text-blue-600 dark:hs-datatable-ordering-desc:text-blue-500"
                        d="m7 9 5-5 5 5"></path>
                    </svg>
                  </div>
                </th>

                <th
                  scope="col"
                  class="py-1 group text-start font-semibold focus:outline-none">
                  <div
                    class="py-1 px-2.5 inline-flex items-center border border-transparent text-sm text-black font-bold rounded-md hover:border-gray-200 dark:text-neutral-500 dark:hover:border-neutral-700">
                    Date
                    <svg
                      class="size-3.5 ms-1 -me-0.5 text-gray-400 dark:text-neutral-500"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round">
                      <path
                        class="hs-datatable-ordering-asc:text-blue-600 dark:hs-datatable-ordering-asc:text-blue-500"
                        d="m7 15 5 5 5-5"></path>
                      <path
                        class="hs-datatable-ordering-desc:text-blue-600 dark:hs-datatable-ordering-desc:text-blue-500"
                        d="m7 9 5-5 5 5"></path>
                    </svg>
                  </div>
                </th>
                <th
                  scope="col"
                  class="py-1 group text-start font-semibold focus:outline-none">
                  <div
                    class="py-1 px-2.5 inline-flex items-center border border-transparent text-sm text-black font-bold rounded-md hover:border-gray-200 dark:text-neutral-500 dark:hover:border-neutral-700">
                    Location
                    <svg
                      class="size-3.5 ms-1 -me-0.5 text-gray-400 dark:text-neutral-500"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round">
                      <path
                        class="hs-datatable-ordering-asc:text-blue-600 dark:hs-datatable-ordering-asc:text-blue-500"
                        d="m7 15 5 5 5-5"></path>
                      <path
                        class="hs-datatable-ordering-desc:text-blue-600 dark:hs-datatable-ordering-desc:text-blue-500"
                        d="m7 9 5-5 5 5"></path>
                    </svg>
                  </div>
                </th>

                <th
                  scope="col"
                  class="py-1 group text-start font-semibold focus:outline-none">
                  <div
                    class="py-1 px-2.5 inline-flex items-center border border-transparent text-sm text-black font-bold rounded-md hover:border-gray-200 dark:text-neutral-500 dark:hover:border-neutral-700">
                    Description
                    <svg
                      class="size-3.5 ms-1 -me-0.5 text-gray-400 dark:text-neutral-500"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round">
                      <path
                        class="hs-datatable-ordering-asc:text-blue-600 dark:hs-datatable-ordering-asc:text-blue-500"
                        d="m7 15 5 5 5-5"></path>
                      <path
                        class="hs-datatable-ordering-desc:text-blue-600 dark:hs-datatable-ordering-desc:text-blue-500"
                        d="m7 9 5-5 5 5"></path>
                    </svg>
                  </div>
                </th>

                <th
                  scope="col"
                  class="py-2 px-3 text-end text-sm text-black font-bold --exclude-from-ordering dark:text-neutral-500">
                  Action
                </th>
              </tr>
            </thead>
            <!-- Table Body -->
            <tbody class="divide-y divide-gray-200">
              {% for event in events %}
              <tr class="{% cycle 'bg-white' 'bg-gray-50' %}">
                <td class="px-4 py-3 text-sm text-gray-800">{{ event.name }}</td>
                <td class="px-4 py-3 text-sm text-gray-800">
                  {% if event.event_image %}
                  <a
                    href="#"
                    data-modal-target="imageModal{{ event.id }}"
                    data-modal-toggle="imageModal{{ event.id }}"
                    class="text-blue-600 hover:text-blue-700 hover:underline">
                    View
                  </a>
                  {% else %}
                  <span class="text-gray-400">No Image Uploaded</span>
                  {% endif %}
                </td>
                <td class="px-4 py-3 text-sm text-gray-800">{{ event.date }}</td>
                <td class="px-4 py-3 text-sm text-gray-800">{{ event.location }}</td>
                <td class="px-4 py-3 text-sm text-gray-800">
                  <div class="max-w-xs">
                    <div
                      class="truncate"
                      id="shortDesc{{ event.id }}">
                      {{ event.description }}
                    </div>
                  </div>
                </td>
                <td class="px-4 py-3 text-end">
                  <div class="relative inline-flex">
                    <button
                      id="dropdownButtonActivity{{ forloop.counter }}"
                      data-dropdown-toggle="dropdownDotsActivity{{ forloop.counter }}"
                      data-dropdown-placement="left-start"
                      class="inline-flex items-center p-2 text-sm font-medium text-gray-700 rounded-lg hover:bg-gray-100 focus:ring-2 focus:ring-gray-100"
                      type="button">
                      <svg
                        class="w-4 h-4"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 4 15">
                        <path d="M3.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 6.041a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 5.959a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z" />
                      </svg>
                    </button>

                    <!-- Dropdown menu -->
                    <div
                      id="dropdownDotsActivity{{ forloop.counter }}"
                      class="z-50 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-lg w-auto">
                      <ul
                        class="p-3 space-y-2"
                        aria-labelledby="dropdownButtonActivity{{ forloop.counter }}">
                        <li>
                          <div class="flex gap-2">
                            <button
                              hx-get="{% url 'admin_activities_edit' event.id %}"
                              hx-target="#modal-content"
                              hx-trigger="click"
                              data-modal-toggle="modaldialog"
                              data-modal-target="modaldialog"
                              onclick="showTitle('Edit Activity &quot;{{ event }}&quot;');"
                              type="button"
                              class="text-center items-center cursor-pointer text-sm font-semibold hover:bg-gray-50 rounded-lg p-2 px-5 border border-black text-black transition-all duration-300 hover:shadow-md">
                              Edit
                            </button>
                            <button
                              hx-get="{% url 'admin_activities_delete' event.id %}"
                              hx-target="#modal-content"
                              hx-trigger="click"
                              data-modal-toggle="modaldialog"
                              data-modal-target="modaldialog"
                              onclick="showTitle('Delete Activity');"
                              type="button"
                              class="text-center items-center border cursor-pointer text-sm font-semibold p-2 px-5 rounded-lg border-red-600 text-red-600 hover:bg-red-50 transition-all duration-300 hover:shadow-md">
                              Delete
                            </button>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td
                  colspan="6"
                  class="px-4 py-8 text-center text-gray-500">
                  No Activities Found.
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Pagination -->
    <di
      v
      class="py-4 px-4 flex justify-center"
      data-hs-datatable-paging="">
      <nav class="flex items-center space-x-1">
        <button
          type="button"
          class="p-2.5 inline-flex justify-center items-center gap-x-2 text-sm rounded-full text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none"
          data-hs-datatable-paging-prev="">
          <span aria-hidden="true">«</span>
          <span class="sr-only">Previous</span>
        </button>
        <div
          class="flex items-center space-x-1"
          data-hs-datatable-paging-pages=""></div>
        <button
          type="button"
          class="p-2.5 inline-flex justify-center items-center gap-x-2 text-sm rounded-full text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none"
          data-hs-datatable-paging-next="">
          <span class="sr-only">Next</span>
          <span aria-hidden="true">»</span>
        </button>
      </nav>
    </di>
  </div>
</div>
{% include 'admin/includes/modal/modal_dialogs.html' %} {% include "admin/includes/modal/modal_activities_image.html" %}
<!--  -->
{% endblock %} {% block extra_js %}
<script src="{% static 'js/admin/data.js' %}"></script>
<script src="{% static 'js/admin/jquery.min.js' %}"></script>
<script src="{% static 'js/admin/dataTables.min.js' %}"></script>

{% endblock extra_js %}
